*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.recipes-con{
    display: flex;
    flex-flow: row wrap;
}


form{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;

}
form input{
    padding: 1rem 3rem;
    border-radius: 3px;
    background-color: rgba(155, 150, 150, 0.432);
    border: none;

}
form button{
    padding: 1rem 1rem;
    border: none;
    cursor: pointer;
    font-weight: 600;
}